.Search .inpS {
  margin-top: 9vh;
  margin-right: 25px;
  margin-left: 13px;
  background-color: #ffffff;
  color: #2e2e2e;
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px #2e2e2e;
  padding: 3px 18px ;
}
.Search .button {
  background-color: rgba(192, 213, 253, 0.2);
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 4px #2e2e2e;
  color: #2e2e2e;
  padding: 1px 12px 1px 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
