.allBadges {
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #f7f7f7;
  margin-top: 12vh;
  display: inline-block;
}
.Badges {
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 30px 15px 30px;
  background-color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7f7f7;
  margin: 1vmax;
  margin-top: 3vmax;
  border-radius: 15px;
  box-shadow: 0px 0px 18px -2px #0a0a0a;
}
