.App {
  text-align: center;
  background-color: #e6e6ec;
}
.App .App-header {
  width: 100vw;
  box-shadow: 0px 0px 10px 0px black;
  background-color: #2e3952;
  height: 7.5vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(20px);
  font-family: 'Courier New', Courier, monospace;
  color: #00ff00;
}
.App .App-header .Headers {
  background-color: #2e3952;
  display: flex;
  align-items: left;
  padding-left: 15px;
}
.App .App-header .Headers .Header {
  margin-right: 25px;
  text-decoration-line: none;
  color: #688ad8;
  padding: 9px;
}
.App .Headers a.active {
  color: #e6e6ec !important;
}
.App .App-header a:hover {
  color: #ffffff !important;
}
.App .App-body {
  background-color: #e6e6ec;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
}
.App .App-body .PopUp {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 14vh;
  margin-left: 31vw;
  position: fixed;
  width: 30vw;
  height: 25vh;
  background-color: #2e3952;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #e6e6ec;
  border-radius: 15px;
  box-shadow: 5px 8px 25px 1px black;
}
.App .App-body .PopUp .inp {
  background-color: #e6e6ec;
  color: #2e3952;
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px #2e3952;
  margin-left: 13px;
  margin-top: 8px;
  padding: 3px 0px 2px 6px;
  left: 0px;
}
.App .App-body .PopUp .inpB {
  color: #2e3952;
  margin: 20px 63px 6px ;
  padding: 3px 55px 3px 55px;
  border-radius: 5px;
  background-color: #c0d5fd;
}
.App .App-body .PopUp .xButton {
  color: #ffffff;
  margin-left: -26px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
  background-color: #2e3952;
}
.App .App-body .Clients {
  margin-top: 2vh;
  width: 92vw;
  background-color: #e6e6ec;
  text-align: left;
  border-collapse: collapse;
}
.App .App-body .Clients .Search .inpS {
  margin-top: 9vh;
  margin-right: 25px;
  margin-left: 13px;
  background-color: #ffffff;
  color: #2e3952;
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px #2e3952;
  padding: 3px 18px ;
}
.App .App-body .Clients .Search .button {
  background-color: rgba(192, 213, 253, 0.2);
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 4px #2e3952;
  color: #2e3952;
  padding: 1px 12px 1px 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.App .App-body .Clients .Client {
  background-color: #e6e6ec;
  text-align: left;
}
.App .App-body .Clients .Client .ClientTD {
  height: 4.5vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 3px;
  padding-left: 15px;
  padding-right: 25px;
  color: #2e3952;
}
.App .App-body .Clients .Client .ClientTD2 {
  height: 4.5vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 3px;
  padding-left: 15px;
  padding-right: 25px;
  color: #2e3952;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.App .App-body .Clients .Client .ClientTH {
  height: 4.5vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 3px;
  padding-left: 15px;
  padding-right: 25px;
  color: #2e3952;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(192, 213, 253, 0.2);
}
.App .App-body .Clients .Client .ClientTH2 {
  height: 4.5vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 3px;
  padding-left: 15px;
  padding-right: 25px;
  color: #2e3952;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(192, 213, 253, 0.2);
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.App .App-footer {
  background-color: #c0d5fd;
}
tr:hover td {
  background-color: #ffffff;
  color: #ffffff;
}
