@darkBlue: #2e3952;
@lightGrey: #e6e6ec;
@lightBlue: #c0d5fd;
@white: rgb(255, 255, 255);
@lighterDarkBlue: #688ad8;
@x: #5c0505;
@red: rgb(255, 0, 0);
@green: rgb(0, 255, 0);
@blue: rgb(0, 38, 255);
.inpS{
   margin-top:px; 
   margin-right:25px; 
   margin-left:13px; 
   background-color: @white;
   color: @darkBlue;
   border-radius: 5px;
   box-shadow: inset 1px 1px 4px @darkBlue;
   padding: 3px 18px ;
}
.select {
   background-color: @lightGrey;
   border-radius: 5px;
   border: none;
   box-shadow: 1px 2px 4px @darkBlue;
   color: @darkBlue;
   padding: 1px 12px 1px 10px;
   margin-right: 4px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}