.inpS {
  margin-top: px;
  margin-right: 25px;
  margin-left: 13px;
  background-color: #ffffff;
  color: #2e3952;
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px #2e3952;
  padding: 3px 18px ;
}
