.Clients {
  margin-top: 2vh;
  width: 92vw;
  background-color: #e6e6ec;
  text-align: left;
  border-collapse: collapse;
}
.Clients .Client {
  background-color: #e6e6ec;
  text-align: left;
}
.Clients .Client .ClientTD {
  height: 4.5vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 3px;
  padding-left: 15px;
  padding-right: 25px;
  color: #2e3952;
}
.Clients .Client .ClientTD2 {
  height: 4.5vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 3px;
  padding-left: 15px;
  padding-right: 25px;
  color: #2e3952;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.Clients .Client .ClientTH {
  height: 4.5vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 3px;
  padding-left: 15px;
  padding-right: 25px;
  color: #2e3952;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(192, 213, 253, 0.2);
}
.Clients .Client .ClientTH2 {
  height: 4.5vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 3px;
  padding-left: 15px;
  padding-right: 25px;
  color: #2e3952;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(192, 213, 253, 0.2);
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
tr:hover td {
  background-color: #ffffff;
  color: #ffffff;
}
