@darkBlue       : #2e3952;
@lightGrey      : rgb(247, 247, 247);
@lightBlue      : #c0d5fd;
@white          : rgb(255, 255, 255);
@lighterDarkBlue: #688ad8;


.Actions {
   // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
   font-family: 'Courier New', Courier, monospace;
   font-family: 'Montserrat', sans-serif;
   padding    : 5vh 0px 15px 0px;
   margin-top              : 6vh;
   margin-left             : 0vw;
   position                : fixed;
   width                   : 100vw;
   display                 : grid;
   justify-content         : center;
   text-align              : left;
   // background-color: red;
   
}

.center {
   justify-content         : center;
   display: flex;
   margin: -5px 0px -15px 0px;
   
}