.Actions {
  padding: 10vh 10px 25px 10px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 7vh;
  margin-left: 0vw;
  position: fixed;
  width: 100vw;
  display: grid;
  justify-content: center;
}
