.Actions {
  padding: 5vh 0px 25px 0px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 7vh;
  margin-left: 0vw;
  position: fixed;
  width: 100vw;
  display: grid;
  justify-content: center;
  text-align: left;
}
