.Actions {
  padding: 5vh 0px 15px 0px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5vh;
  margin-left: 0vw;
  position: fixed;
  width: 100vw;
  display: grid;
  justify-content: center;
  text-align: left;
}
.center {
  justify-content: center;
  display: flex;
  margin: 5px 0px -10px 0px;
}
