@darkBlue: #2e3952;
@lightGrey: rgb(247, 247, 247);
@lightBlue: #c0d5fd;
@white: rgb(255, 255, 255);
@lighterDarkBlue: #688ad8;


.Actions{
   padding: 10vh 10px 25px 10px;
   font-family: 'Courier New', Courier, monospace;
   margin-top: 7vh;
   margin-left: 0vw;
   position: fixed;  
   width: 100vw;
   // height: 100vw;
   // min-width: 500px;
   // background-color: #2e3952;
   display: grid;
   // align-items: center;
   justify-content: center;
   // color: #e6e6ec;
   // border-radius: 0px 25px 25px 0px;
   // box-shadow: 1px 1px 3px 0px black;
}