.button {
  color: #2e3952;
  margin: 2px 0px 6px ;
  padding: 2px 12px 1px 12px;
  background-color: #c0d5fd;
  border: 1px solid #555;
  background-color: #e0e0e0;
  border-radius: none;
  border: none;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.select {
  color: #2e3952;
  padding: 1px 12px 1px 10px;
  margin-right: 4px;
  text-align: left;
  justify-content: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
