.button {
  color: #2e3952;
  margin: 2px 0px 6px ;
  padding: 2px 12px 1px 12px;
  border-radius: 5px;
  background-color: #c0d5fd;
  left: 0px;
}
.select {
  background-color: #e6e6ec;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 4px #2e3952;
  color: #2e3952;
  padding: 1px 12px 1px 10px;
  margin-right: 4px;
  text-align: left;
  justify-content: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
