.Headers {
  width: 100vw;
  display: flex;
  align-items: left;
  padding-left: 30px;
}
.Headers .Header {
  margin-right: 25px;
  text-decoration-line: none;
  color: #688ad8;
  padding: 9px;
}
.Headers a.active {
  color: #2e2e2e !important;
  background-color: #fff;
}
.App-header a:hover {
  background-color: #fff;
}
