.Headers {
  width: 100vw;
  display: flex;
  align-items: left;
  padding-left: 30px;
}
.Headers .Header {
  margin-right: 25px;
  text-decoration-line: none;
  color: #f1f1f1;
  padding: 12px 9px 12px 9px;
}
.Headers a.active {
  color: black  !important;
  background-color: #797979;
}
.App-header a:hover {
  background-color: #fff;
  background-color: #a1a1a1;
}
