@darkBlue       : rgb(46, 46, 46);
@lightGrey      : #e6e6ec;
@lightBlue      : #c0d5fd;
@white          : rgb(255, 255, 255);
@lighterDarkBlue: #688ad8;
@x              : #5c0505;
@red            : rgb(255, 0, 0);
@green          : rgb(0, 255, 0);
@blue           : rgb(0, 38, 255);

.button {
   color           : @lightGrey;
   margin          : 2px 0px 6px;
   padding         : 3px 12px 2px 12px;
   border-radius   : 2px;
   background-color: @darkBlue;
   left            : 0px;
   font-size       : 12px;
}

.buttonAdd {
   width: 100%;
   margin-top: -3px;
}

.inpS {
   // margin-top      :9vh; 
   // margin-right    :25px; 
   // margin-left     :13px; 
   // background-color: @white;
   // color           : @darkBlue;
   border-radius      : 0px;
   box-shadow         : none;
   // padding         : 3px 18px ;
   width              : 100%;
   padding            : 4px 20px;
   margin             : 2px 10px 5px 0px;
   box-sizing         : border-box;
   // border          : 0.5px solid rgb(46, 46, 46);
   // outline         : none;
   // margin-top      :1vh; 
   // margin-right    :25px; 
   // margin-left     :13px; 
   // background-color: @white;
   // color           : @darkBlue;
   // border-radius   : 5px;
   // box-shadow      : inset 1px 1px 4px @darkBlue;
   // padding         : 3px 18px ;
}