@darkBlue       : rgb(46, 46, 46);
@blueish       :#3e98c7;
@lightGrey      : #e6e6ec;
@lightBlue      : #c0d5fd;
@white          : rgb(255, 255, 255);
@lighterDarkBlue: #688ad8;
@x              : #5c0505;
@red            : rgb(255, 0, 0);
@green          : rgb(0, 255, 0);
@blue           : rgb(0, 38, 255);

// #3e98c7
.button {
   color           : @lightGrey;
   margin          : 2px 0px 6px;
   padding         : 3px 12px 2px 12px;
   border-radius   : 2px;
   background-color: @blueish;
   left            : 0px;
   font-size       : 12px;
   color: @darkBlue;
}

.buttonAdd {
   width     : 100%;
   margin-top: -3px;
}

.inpS {
   border-radius: 0px;
   box-shadow   : none;
   width        : 100%;
   padding      : 4px 20px;
   margin       : 2px 10px 5px 0px;
   box-sizing   : border-box;
}