// @darkBlue    : rgb(24, 175, 202);
@darkBlue       : black;
@lightGrey      : #e6e6ec;
@lightBlue      : #c0d5fd;
@white          : rgb(255, 255, 255);
@lighterDarkBlue: #688ad8;
@x              : #5c0505;
@red            : rgb(255, 0, 0);
@green          : rgb(0, 255, 0);
@blue           : rgb(0, 38, 255);

.Home {
   // opacity        : 30%;
   margin-top     : 7vh;
   height         : 93vh;
   justify-content: center;
   background-size: cover;
   background-image    : url('https://static.vecteezy.com/system/resources/previews/000/370/643/original/vector-banner-background-with-abstract-connections-design.jpg');
   // display             : flex;
   // flex-direction      : column;
   // align-items         : center;
   width               : 100vw;
   background-color : @white;
   background-position: center;
   display             : flex;
   // position         : fixed;
   flex-direction   : column;
   // align-items         : center;
   // justify-content     : flex-end;
   font-size           : calc(28px + 2vmin);
   font-family         : 'Courier New',Courier, monospace;
   // color            : rgba(255, 255, 255, 1);
   // font-weight      : bold;
}

.home1 {
   position: absolute;
}

.Home2 {
   color              : rgb(0, 0, 0);
   margin: -20px 0px 35px 0px ;
   // background-color: #fff;
   font-size          : calc(12px + 2vmin);
   // color           : @darkBlue;
   opacity            : 100%;
   // font-weight     : bold;
}