.Home {
  margin-top: 7vh;
  height: 93vh;
  justify-content: center;
  background-size: cover;
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/370/643/original/vector-banner-background-with-abstract-connections-design.jpg');
  width: 100vw;
  background-color: #ffffff;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: calc(28px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
}
.home1 {
  position: absolute;
}
.Home2 {
  color: #000000;
  margin: -20px 0px 35px 0px;
  font-size: calc(12px + 2vmin);
  opacity: 100%;
}
