// @darkBlue    : rgb(24, 175, 202);
@darkBlue       : black;
@lightGrey      : #e6e6ec;
@lightBlue      : #c0d5fd;
@white          : rgb(255, 255, 255);
@lighterDarkBlue: #688ad8;
@x              : #5c0505;
@red            : rgb(255, 0, 0);
@green          : rgb(0, 255, 0);
@blue           : rgb(0, 38, 255);

.Home {
   img {
   }
   opacity        : 30%;
   margin-top     : 7vh;
   height         : 93vh;
   justify-content: center;
   background-size: cover;

   background-image : url('https://img.youtube.com/vi/-MKapbz0GIo/maxresdefault.jpg');
   display             : flex;
   flex-direction      : column;
   align-items         : center;
   width               : 100vw;
   // background-color : @white;
   display             : flex;
   // position         : fixed;
   // flex-direction   : column;
   align-items         : center;
   justify-content     : center;
   font-size           : calc(28px + 2vmin);
   font-family         : 'Courier New',
   Courier,
   monospace;
   // color            : rgba(255, 255, 255, 1);
   color               : rgb(255, 255, 255);
   font-weight: bold;
}

.Home2 {
   color      : rgb(255, 255, 255);
   font-size  : calc(12px + 2vmin);
   // color   : @darkBlue;
   opacity    : 100%;
   font-weight: bold;
}