.Home {
  opacity: 30%;
  margin-top: 7vh;
  height: 93vh;
  background-size: cover;
  background-image: url('https://img.youtube.com/vi/-MKapbz0GIo/maxresdefault.jpg');
  flex-direction: column;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(28px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-weight: bold;
}
.Home2 {
  color: #ffffff;
  font-size: calc(12px + 2vmin);
  opacity: 100%;
  font-weight: bold;
}
