@lightGrey : rgb(247, 247, 247);
@darkBlue  : rgb(46, 46, 46);


#charts {
   display         : grid;
   grid-area       : c;
   background-color: @lightGrey;
   color           : @darkBlue;

   grid-template-columns   : 1fr 1fr 1fr;
   grid-template-rows      : 1fr 1fr;
   grid-template-areas     : "te ss ss""sc ss ss";
   // padding              : 2vh;
   margin                  : 2vw 4vw 2vw 4vw;

   #SalesByCountry {
      border-radius   : 20px;
      grid-area       : ss;
      background-color: yellow;
      background-color: white;
      padding         : 1vw 0vw 0vw 0vw;
      margin          : 0vh 0vw 0vh 3vw;

      #SalesByCountryChart {
         margin: 2vh 0vw 0vh 0vw;
      }
   }

   #SalesSince {
      border-radius   : 20px;
      grid-area       : sc;
      background-color: green;
      background-color: white;
      padding         : 1vw 0vw 0vw 0vw;
      margin          : 3vh 0vw 0vh 0vw;
   }

   #TopEmployees {
      border-radius   : 20px;
      grid-area       : te;
      background-color: purple;
      background-color: white;
      padding         : 1vw 0vw 0vw 0vw;
      margin          : 0vh 0vw 3vh 0vw;
      height          : 200px;
   }
}