.PopUp {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 14vh;
  margin-left: 31vw;
  position: fixed;
  width: 30vw;
  height: 25vh;
  background-color: #2e3952;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #e6e6ec;
  border-radius: 15px;
  box-shadow: 5px 8px 25px 1px black;
}
.PopUp .inp {
  background-color: #e6e6ec;
  color: #2e3952;
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px #2e3952;
  margin-left: 13px;
  margin-top: 8px;
  padding: 3px 0px 2px 6px;
  left: 0px;
}
.PopUp .inpB {
  color: #2e3952;
  margin: 20px 63px 6px ;
  padding: 3px 55px 3px 55px;
  border-radius: 5px;
  background-color: #c0d5fd;
}
.PopUp .xButton {
  color: #ffffff;
  margin-left: -26px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
  background-color: #2e3952;
}
