body{
   background-color: rgb(247, 247, 247);
   overflow-y: auto;
}
.App {
   text-align: center;
 }
 .App .App-body {
   
   width: 100vw;
   margin: 0px;
   display: grid;
   align-items: center;
   justify-content: center;
 }
